<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljwd.plms.web.dao.sys_management.PlmsFuncMapper" >
    
  <resultMap id="BaseResultMap" type="com.ljwd.plms.web.model.sys_management.PlmsFunc" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="FUNC_NAME" property="funcName" jdbcType="VARCHAR" />
    <result column="P_FUNC_ID" property="pFuncId" jdbcType="BIGINT" />
    <result column="IS_ACTIVE" property="isActive" jdbcType="CHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="REC_VER" property="recVer" jdbcType="BIGINT" />
    <result column="TAG_SEQ" property="tagSeq" jdbcType="BIGINT" />
  </resultMap>

    <sql id="Where_Clause">
        <if test="isActive != null and isActive != ''">
            and T.IS_ACTIVE = #{isActive}
        </if>
        <if test="funcName != null and funcName != ''">
            and T.FUNC_NAME = #{funcName}
        </if>
        <if test="pFuncId != null">
            and T.P_FUNC_ID = #{pFuncId}
        </if>
        <if test="id != null">
            and T.ID = #{id}
        </if>
    </sql>

    <sql id="Example_Where_Clause" >
        <where >
            <include refid="Where_Clause"/>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <if test="example.isActive != null and example.isActive != ''">
                and T.IS_ACTIVE = #{example.isActive}
            </if>
            <if test="example.funcName != null and example.funcName != ''">
                and T.FUNC_NAME = #{example.funcName}
            </if>
            <if test="example.pFuncId != null">
                and T.P_FUNC_ID = #{example.pFuncId}
            </if>
            <if test="example.id != null">
                and T.ID = #{example.id}
            </if>
        </where>
    </sql>

  <sql id="Base_Column_List" >
    T.ID,
    T.FUNC_NAME,
    T.P_FUNC_ID,
    T.IS_ACTIVE,
    T.CREATED_BY,
    T.CREATE_TIME,
    T.UPDATED_BY,
    T.UPDATE_TIME,
    T.REC_VER,
    T.TAG_SEQ
  </sql>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ljwd.plms.web.model.sys_management.PlmsFuncExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PLMS_FUNC T
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from PLMS_FUNC T
    where T.ID = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from PLMS_FUNC T
    where T.ID = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByExample" parameterType="com.ljwd.plms.web.model.sys_management.PlmsFuncExample" >
    delete from PLMS_FUNC T
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insert" parameterType="com.ljwd.plms.web.model.sys_management.PlmsFunc" >
      <selectKey resultType="long" keyProperty="id" order="BEFORE" >
          SELECT seq_plms_func.nextval FROM dual
      </selectKey>
    insert into PLMS_FUNC T (<include refid="Base_Column_List" />)
    values (
      #{id,jdbcType=BIGINT},
      #{funcName,jdbcType=VARCHAR},
      #{pFuncId,jdbcType=BIGINT},
      #{isActive,jdbcType=CHAR},
      #{createdBy,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
      #{updatedBy,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP},
      #{recVer,jdbcType=BIGINT},
      #{tagSeq,jdbcType=BIGINT}
    )
  </insert>

  <insert id="insertSelective" parameterType="com.ljwd.plms.web.model.sys_management.PlmsFunc" >
      <selectKey resultType="long" keyProperty="id" order="BEFORE" >
          SELECT seq_plms_func.nextval FROM dual
      </selectKey>
    insert into PLMS_FUNC T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
          T.ID,
      </if>
      <if test="funcName != null" >
          T.FUNC_NAME,
      </if>
      <if test="pFuncId != null" >
          T.P_FUNC_ID,
      </if>
      <if test="isActive != null" >
          T.IS_ACTIVE,
      </if>
      <if test="createdBy != null" >
          T.CREATED_BY,
      </if>
      <if test="createTime != null" >
          T.CREATE_TIME,
      </if>
      <if test="updatedBy != null" >
          T.UPDATED_BY,
      </if>
      <if test="updateTime != null" >
          T.UPDATE_TIME,
      </if>
      <if test="recVer != null" >
          T.REC_VER,
      </if>
      <if test="tagSeq != null" >
          T.TAG_SEQ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="funcName != null" >
        #{funcName,jdbcType=VARCHAR},
      </if>
      <if test="pFuncId != null" >
        #{pFuncId,jdbcType=BIGINT},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=CHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recVer != null" >
        #{recVer,jdbcType=BIGINT},
      </if>
      <if test="tagSeq != null" >
        #{tagSeq,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <select id="countByExample" parameterType="com.ljwd.plms.web.model.sys_management.PlmsFuncExample" resultType="java.lang.Integer" >
    select count(1) from PLMS_FUNC T
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByExampleSelective" parameterType="map" >
    update PLMS_FUNC T
    <set >
      <if test="record.id != null" >
          T.ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.funcName != null" >
          T.FUNC_NAME = #{record.funcName,jdbcType=VARCHAR},
      </if>
      <if test="record.pFuncId != null" >
          T.P_FUNC_ID = #{record.pFuncId,jdbcType=BIGINT},
      </if>
      <if test="record.isActive != null" >
          T.IS_ACTIVE = #{record.isActive,jdbcType=CHAR},
      </if>
      <if test="record.createdBy != null" >
          T.CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
          T.CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedBy != null" >
          T.UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
          T.UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recVer != null" >
          T.REC_VER = #{record.recVer,jdbcType=BIGINT},
      </if>
      <if test="record.tagSeq != null" >
          T.TAG_SEQ = #{record.tagSeq,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByExample" parameterType="map" >
    update PLMS_FUNC T
    set
      T.ID = #{record.id,jdbcType=BIGINT},
      T.FUNC_NAME = #{record.funcName,jdbcType=VARCHAR},
      T.P_FUNC_ID = #{record.pFuncId,jdbcType=BIGINT},
      T.IS_ACTIVE = #{record.isActive,jdbcType=CHAR},
      T.CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      T.CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      T.UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      T.UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      T.REC_VER = #{record.recVer,jdbcType=BIGINT},
      T.TAG_SEQ = #{record.tagSeq,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.ljwd.plms.web.model.sys_management.PlmsFunc" >
    update PLMS_FUNC T
    <set >
      <if test="funcName != null" >
          T.FUNC_NAME = #{funcName,jdbcType=VARCHAR},
      </if>
      <if test="pFuncId != null" >
          T.P_FUNC_ID = #{pFuncId,jdbcType=BIGINT},
      </if>
      <if test="isActive != null" >
          T.IS_ACTIVE = #{isActive,jdbcType=CHAR},
      </if>
      <if test="createdBy != null" >
          T.CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
          T.CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
          T.UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
          T.UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recVer != null" >
          T.REC_VER = #{recVer,jdbcType=BIGINT} + 1,
      </if>
      <if test="tagSeq != null" >
          T.TAG_SEQ = #{tagSeq,jdbcType=BIGINT},
      </if>
    </set>
    where T.ID = #{id,jdbcType=BIGINT} and T.REC_VER = #{recVer,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.ljwd.plms.web.model.sys_management.PlmsFunc" >
    update PLMS_FUNC T
    set
      T.FUNC_NAME = #{funcName,jdbcType=VARCHAR},
      T.P_FUNC_ID = #{pFuncId,jdbcType=BIGINT},
      T.IS_ACTIVE = #{isActive,jdbcType=CHAR},
      T.CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      T.CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      T.UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      T.UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      T.REC_VER = #{recVer,jdbcType=BIGINT},
      T.TAG_SEQ = #{tagSeq,jdbcType=BIGINT}
    where T.ID = #{id,jdbcType=BIGINT}
  </update>

    <!--批量添加-->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into PLMS_FUNC T ( <include refid="Base_Column_List"/> )
        SELECT SEQ_PLMS_FUNC.nextval , TT.* from (
        <foreach collection="list" item="item" index="index" separator="union all">
            select
            #{item.funcName,jdbcType=VARCHAR},
            #{item.pFuncId,jdbcType=BIGINT},
            #{item.isActive,jdbcType=CHAR},
            #{item.createdBy,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updatedBy,jdbcType=VARCHAR},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.recVer,jdbcType=BIGINT},
            #{item.tagSeq,jdbcType=BIGINT}
            from dual
        </foreach>
        ) TT
    </insert>

</mapper>