<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwd.plms.web.dao.sys_management.PlmsRoleMapper">

  <resultMap id="BaseResultMap" type="com.ljwd.plms.web.model.sys_management.PlmsRole">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="ROLE_SIGN" jdbcType="VARCHAR" property="roleSign" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="IS_ACTIVE" jdbcType="CHAR" property="isActive" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="REC_VER" jdbcType="BIGINT" property="recVer" />
    <result column="TAG_SEQ" jdbcType="BIGINT" property="tagSeq" />
  </resultMap>

    <sql id="Where_Clause">
        <if test="isActive != null and isActive != ''">
            and T.IS_ACTIVE = #{isActive}
        </if>
        <if test="roleName != null and roleName != ''">
            and T.ROLE_NAME = #{roleName}
        </if>
        <if test="roleSign != null and roleSign != ''">
            and T.ROLE_SIGN = #{roleSign}
        </if>
        <if test="recVer != null">
            and T.REC_VER = #{recVer}
        </if>
        <if test="id != null">
            and T.ID = #{id}
        </if>
    </sql>

    <sql id="Example_Where_Clause" >
        <where >
            <include refid="Where_Clause"/>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <if test="example.isActive != null and example.isActive != ''">
                and T.IS_ACTIVE = #{example.isActive}
            </if>
            <if test="example.roleName != null and example.roleName != ''">
                and T.ROLE_NAME = #{example.roleName}
            </if>
            <if test="example.roleSign != null and example.roleSign != ''">
                and T.ROLE_SIGN = #{example.roleSign}
            </if>
            <if test="example.recVer != null">
                and T.REC_VER = #{example.recVer}
            </if>
            <if test="example.id != null">
                and T.ID = #{example.id}
            </if>
        </where>
    </sql>

  <sql id="Base_Column_List">
    T.ID,
    T.ROLE_NAME,
    T.ROLE_SIGN,
    T.DESCRIPTION,
    T.IS_ACTIVE,
    T.CREATED_BY,
    T.CREATE_TIME,
    T.UPDATED_BY,
    T.UPDATE_TIME,
    T.REC_VER,
    T.TAG_SEQ
  </sql>

  <select id="selectByExample" parameterType="com.ljwd.plms.web.model.sys_management.PlmsRoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PLMS_ROLE T
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PLMS_ROLE T
    where T.ID = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from PLMS_ROLE T
    where T.ID = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByExample" parameterType="com.ljwd.plms.web.model.sys_management.PlmsRoleExample">
    delete from PLMS_ROLE T
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insert" parameterType="com.ljwd.plms.web.model.sys_management.PlmsRole">
      <selectKey resultType="long" keyProperty="id" order="BEFORE" >
          SELECT seq_plms_role.nextval FROM dual
      </selectKey>
    insert into PLMS_ROLE T (<include refid="Base_Column_List" />)
    values (
      #{id,jdbcType=BIGINT},
      #{roleName,jdbcType=VARCHAR},
      #{roleSign,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR},
      #{isActive,jdbcType=CHAR},
      #{createdBy,jdbcType=VARCHAR},
      sysdate,
      #{updatedBy,jdbcType=VARCHAR},
      sysdate,
      0,
      0
    )
  </insert>

  <insert id="insertSelective" parameterType="com.ljwd.plms.web.model.sys_management.PlmsRole">
      <selectKey resultType="long" keyProperty="id" order="BEFORE" >
          SELECT seq_plms_role.nextval FROM dual
      </selectKey>
    insert into PLMS_ROLE T
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
          T.ID,
      </if>
      <if test="roleName != null">
          T.ROLE_NAME,
      </if>
      <if test="roleSign != null">
          T.ROLE_SIGN,
      </if>
      <if test="description != null">
          T.DESCRIPTION,
      </if>
      <if test="isActive != null">
          T.IS_ACTIVE,
      </if>
      <if test="createdBy != null">
          T.CREATED_BY,
      </if>
      <if test="createTime != null">
          T.CREATE_TIME,
      </if>
      <if test="updatedBy != null">
          T.UPDATED_BY,
      </if>
      <if test="updateTime != null">
          T.UPDATE_TIME,
      </if>
      <if test="recVer != null">
          T.REC_VER,
      </if>
      <if test="tagSeq != null">
          T.TAG_SEQ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleSign != null">
        #{roleSign,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=CHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recVer != null">
        #{recVer,jdbcType=BIGINT},
      </if>
      <if test="tagSeq != null">
        #{tagSeq,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <select id="countByExample" parameterType="com.ljwd.plms.web.model.sys_management.PlmsRoleExample" resultType="java.lang.Integer">
    select count(*) from PLMS_ROLE T
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByExampleSelective" parameterType="map">
    update PLMS_ROLE T
    <set>
      <if test="record.id != null">
          T.ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.roleName != null">
          T.ROLE_NAME = #{record.roleName,jdbcType=VARCHAR},
      </if>
      <if test="record.roleSign != null">
          T.ROLE_SIGN = #{record.roleSign,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
          T.DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.isActive != null">
          T.IS_ACTIVE = #{record.isActive,jdbcType=CHAR},
      </if>
      <if test="record.createdBy != null">
          T.CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
          T.CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedBy != null">
          T.UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
          T.UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recVer != null">
          T.REC_VER = #{record.recVer,jdbcType=BIGINT},
      </if>
      <if test="record.tagSeq != null">
          T.TAG_SEQ = #{record.tagSeq,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByExample" parameterType="map">
    update PLMS_ROLE T
    set
      T.ID = #{record.id,jdbcType=BIGINT},
      T.ROLE_NAME = #{record.roleName,jdbcType=VARCHAR},
      T.ROLE_SIGN = #{record.roleSign,jdbcType=VARCHAR},
      T.DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      T.IS_ACTIVE = #{record.isActive,jdbcType=CHAR},
      T.CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      T.CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      T.UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      T.UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      T.REC_VER = #{record.recVer,jdbcType=BIGINT},
      T.TAG_SEQ = #{record.tagSeq,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.ljwd.plms.web.model.sys_management.PlmsRole">
    update PLMS_ROLE T
    <set>
      <if test="roleName != null">
          T.ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleSign != null">
          T.ROLE_SIGN = #{roleSign,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
          T.DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null">
          T.IS_ACTIVE = #{isActive,jdbcType=CHAR},
      </if>
      <if test="createdBy != null">
          T.CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
          T.CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
          T.UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
          T.UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recVer != null">
          T.REC_VER = #{recVer,jdbcType=BIGINT} + 1,
      </if>
      <if test="tagSeq != null">
          T.TAG_SEQ = #{tagSeq,jdbcType=BIGINT},
      </if>
    </set>
    where T.ID = #{id,jdbcType=BIGINT} and T.REC_VER = #{recVer,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.ljwd.plms.web.model.sys_management.PlmsRole">
    update PLMS_ROLE T
    set
      T.ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      T.ROLE_SIGN = #{roleSign,jdbcType=VARCHAR},
      T.DESCRIPTION = #{description,jdbcType=VARCHAR},
      T.IS_ACTIVE = #{isActive,jdbcType=CHAR},
      T.CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      T.CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      T.UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      T.UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      T.REC_VER = #{recVer,jdbcType=BIGINT},
      T.TAG_SEQ = #{tagSeq,jdbcType=BIGINT}
    where T.ID = #{id,jdbcType=BIGINT}
  </update>

    <resultMap id="BaseResultMap_Ext" type="com.ljwd.plms.web.model.sys_management.PlmsRole" extends="BaseResultMap">
    </resultMap>

    <sql id="Base_Column_List_Ext">
        <include refid="Base_Column_List"/>，
        updateUser.USER_NAME as updatedUserName
    </sql>

    <sql id="Example_Where_Clause_Ext">
        <where >
            <include refid="Where_Clause"/>
        </where>
    </sql>

    <!-- 分页条件查询 -->
    <select id="selectByExampleAndPage" resultMap="BaseResultMap_Ext" parameterType="com.ljwd.plms.web.model.sys_management.PlmsRoleExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List_Ext" />
        from PLMS_ROLE T
        left join sys_user updateUser on T.UPDATED_BY = updateUser.USER_ID
        <if test="_parameter != null">
            <include refid="Example_Where_Clause_Ext" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
  
    <!-- 通过用户id 查询用户 拥有的角色 -->
    <select id="selectRolesByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        DISTINCT
        <include refid="Base_Column_List" />
        FROM PLMS_ROLE T
        INNER JOIN PLMS_USER_ROLE T2 ON T.id = T2.role_id
        WHERE T.is_active = 'Y' AND T2.is_active = 'Y' AND T2.user_id = #{userId,jdbcType=VARCHAR}
    </select>

</mapper>