<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljwd.plms.web.dao.case_management.PlmsLTransferAdvanceAlMapper" >
  <resultMap id="BaseResultMap" type="com.ljwd.plms.web.model.case_management.PlmsLTransferAdvanceAl" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="PID" property="pid" jdbcType="BIGINT" />
    <result column="PAYMENT_ID" property="paymentId" jdbcType="BIGINT" />
    <result column="APPL_ID" property="applId" jdbcType="BIGINT" />
    <result column="HANDLEBY" property="handleby" jdbcType="VARCHAR" />
    <result column="HANDLEDATE" property="handledate" jdbcType="TIMESTAMP" />
    <result column="HANDLERESULT" property="handleresult" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="IS_ACTIVE" property="isActive" jdbcType="CHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="REC_VER" property="recVer" jdbcType="BIGINT" />
    <result column="TAG_SEQ" property="tagSeq" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PID, PAYMENT_ID, APPL_ID, HANDLEBY, HANDLEDATE, HANDLERESULT, STATUS, REMARK, 
    IS_ACTIVE, CREATED_BY, CREATE_TIME, UPDATED_BY, UPDATE_TIME, REC_VER, TAG_SEQ
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ljwd.plms.web.model.case_management.PlmsLTransferAdvanceAlExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PLMS_L_TRANSFER_ADVANCE_AL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from PLMS_L_TRANSFER_ADVANCE_AL
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from PLMS_L_TRANSFER_ADVANCE_AL
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ljwd.plms.web.model.case_management.PlmsLTransferAdvanceAlExample" >
    delete from PLMS_L_TRANSFER_ADVANCE_AL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ljwd.plms.web.model.case_management.PlmsLTransferAdvanceAl" >
    insert into PLMS_L_TRANSFER_ADVANCE_AL (ID, PID, PAYMENT_ID, 
      APPL_ID, HANDLEBY, HANDLEDATE, 
      HANDLERESULT, STATUS, REMARK, 
      IS_ACTIVE, CREATED_BY, CREATE_TIME, 
      UPDATED_BY, UPDATE_TIME, REC_VER, 
      TAG_SEQ)
    values (#{id,jdbcType=BIGINT}, #{pid,jdbcType=BIGINT}, #{paymentId,jdbcType=BIGINT}, 
      #{applId,jdbcType=BIGINT}, #{handleby,jdbcType=VARCHAR}, #{handledate,jdbcType=TIMESTAMP}, 
      #{handleresult,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{isActive,jdbcType=CHAR}, #{createdBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{recVer,jdbcType=BIGINT}, 
      #{tagSeq,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ljwd.plms.web.model.case_management.PlmsLTransferAdvanceAl" >
    insert into PLMS_L_TRANSFER_ADVANCE_AL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="pid != null" >
        PID,
      </if>
      <if test="paymentId != null" >
        PAYMENT_ID,
      </if>
      <if test="applId != null" >
        APPL_ID,
      </if>
      <if test="handleby != null" >
        HANDLEBY,
      </if>
      <if test="handledate != null" >
        HANDLEDATE,
      </if>
      <if test="handleresult != null" >
        HANDLERESULT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="isActive != null" >
        IS_ACTIVE,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="recVer != null" >
        REC_VER,
      </if>
      <if test="tagSeq != null" >
        TAG_SEQ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="paymentId != null" >
        #{paymentId,jdbcType=BIGINT},
      </if>
      <if test="applId != null" >
        #{applId,jdbcType=BIGINT},
      </if>
      <if test="handleby != null" >
        #{handleby,jdbcType=VARCHAR},
      </if>
      <if test="handledate != null" >
        #{handledate,jdbcType=TIMESTAMP},
      </if>
      <if test="handleresult != null" >
        #{handleresult,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=CHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recVer != null" >
        #{recVer,jdbcType=BIGINT},
      </if>
      <if test="tagSeq != null" >
        #{tagSeq,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ljwd.plms.web.model.case_management.PlmsLTransferAdvanceAlExample" resultType="java.lang.Integer" >
    select count(*) from PLMS_L_TRANSFER_ADVANCE_AL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PLMS_L_TRANSFER_ADVANCE_AL
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.pid != null" >
        PID = #{record.pid,jdbcType=BIGINT},
      </if>
      <if test="record.paymentId != null" >
        PAYMENT_ID = #{record.paymentId,jdbcType=BIGINT},
      </if>
      <if test="record.applId != null" >
        APPL_ID = #{record.applId,jdbcType=BIGINT},
      </if>
      <if test="record.handleby != null" >
        HANDLEBY = #{record.handleby,jdbcType=VARCHAR},
      </if>
      <if test="record.handledate != null" >
        HANDLEDATE = #{record.handledate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.handleresult != null" >
        HANDLERESULT = #{record.handleresult,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isActive != null" >
        IS_ACTIVE = #{record.isActive,jdbcType=CHAR},
      </if>
      <if test="record.createdBy != null" >
        CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedBy != null" >
        UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recVer != null" >
        REC_VER = #{record.recVer,jdbcType=BIGINT},
      </if>
      <if test="record.tagSeq != null" >
        TAG_SEQ = #{record.tagSeq,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PLMS_L_TRANSFER_ADVANCE_AL
    set ID = #{record.id,jdbcType=BIGINT},
      PID = #{record.pid,jdbcType=BIGINT},
      PAYMENT_ID = #{record.paymentId,jdbcType=BIGINT},
      APPL_ID = #{record.applId,jdbcType=BIGINT},
      HANDLEBY = #{record.handleby,jdbcType=VARCHAR},
      HANDLEDATE = #{record.handledate,jdbcType=TIMESTAMP},
      HANDLERESULT = #{record.handleresult,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      IS_ACTIVE = #{record.isActive,jdbcType=CHAR},
      CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      REC_VER = #{record.recVer,jdbcType=BIGINT},
      TAG_SEQ = #{record.tagSeq,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ljwd.plms.web.model.case_management.PlmsLTransferAdvanceAl" >
    update PLMS_L_TRANSFER_ADVANCE_AL
    <set >
      <if test="pid != null" >
        PID = #{pid,jdbcType=BIGINT},
      </if>
      <if test="paymentId != null" >
        PAYMENT_ID = #{paymentId,jdbcType=BIGINT},
      </if>
      <if test="applId != null" >
        APPL_ID = #{applId,jdbcType=BIGINT},
      </if>
      <if test="handleby != null" >
        HANDLEBY = #{handleby,jdbcType=VARCHAR},
      </if>
      <if test="handledate != null" >
        HANDLEDATE = #{handledate,jdbcType=TIMESTAMP},
      </if>
      <if test="handleresult != null" >
        HANDLERESULT = #{handleresult,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null" >
        IS_ACTIVE = #{isActive,jdbcType=CHAR},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recVer != null" >
        REC_VER = #{recVer,jdbcType=BIGINT},
      </if>
      <if test="tagSeq != null" >
        TAG_SEQ = #{tagSeq,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ljwd.plms.web.model.case_management.PlmsLTransferAdvanceAl" >
    update PLMS_L_TRANSFER_ADVANCE_AL
    set PID = #{pid,jdbcType=BIGINT},
      PAYMENT_ID = #{paymentId,jdbcType=BIGINT},
      APPL_ID = #{applId,jdbcType=BIGINT},
      HANDLEBY = #{handleby,jdbcType=VARCHAR},
      HANDLEDATE = #{handledate,jdbcType=TIMESTAMP},
      HANDLERESULT = #{handleresult,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      IS_ACTIVE = #{isActive,jdbcType=CHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      REC_VER = #{recVer,jdbcType=BIGINT},
      TAG_SEQ = #{tagSeq,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  
    <!-- 批量插入提前移交明细表 -->
    <insert id="insertBatch" parameterType="java.util.List">
  	 insert into PLMS_L_TRANSFER_ADVANCE_AL al ( <include refid="Base_Column_List"/> )
        SELECT SEQ_PLMS_L_TRANSFER_ADVANCE_AL.nextval , transferAl.* from (
            <foreach collection="list" item="item" index="index" separator="union all">
                select 
                	   #{item.pid,jdbcType=BIGINT},
                	   #{item.paymentId,jdbcType=BIGINT},
                	   #{item.applId,jdbcType=BIGINT},
					   #{item.handleby,jdbcType=VARCHAR},    
					   #{item.handledate,jdbcType=TIMESTAMP},  
					   #{item.handleresult,jdbcType=VARCHAR},                 
                       #{item.status,jdbcType=VARCHAR},
                       #{item.remark,jdbcType=VARCHAR},
                       #{item.isActive,jdbcType=CHAR},
                       #{item.createdBy,jdbcType=VARCHAR},
                       #{item.createTime,jdbcType=TIMESTAMP},
                       #{item.updatedBy,jdbcType=VARCHAR},
                       #{item.updateTime,jdbcType=TIMESTAMP},
                       #{item.recVer,jdbcType=BIGINT},
                       #{item.tagSeq,jdbcType=BIGINT}
                from dual
            </foreach>
        ) transferAl
  </insert>
  
</mapper>