<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljwd.plms.web.dao.outsource.PlmsLaApplOutsrcLogMapper" >

  <resultMap id="BaseResultMap" type="com.ljwd.plms.web.model.outsource.PlmsLaApplOutsrcLog" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="APPL_ID" property="applId" jdbcType="BIGINT" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="RESULT" property="result" jdbcType="BIGINT" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="REC_VER" property="recVer" jdbcType="BIGINT" />
    <result column="TAG_SEQ" property="tagSeq" jdbcType="BIGINT" />
  </resultMap>

    <sql id="Where_Clause">
        <if test="recVer != null">
            and T.REC_VER = #{recVer}
        </if>
        <if test="applId != null">
            and T.APPL_ID = #{applId}
        </if>
        <if test="id != null">
            and T.ID = #{id}
        </if>
    </sql>

    <sql id="Example_Where_Clause" >
        <where >
            <include refid="Where_Clause"/>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <if test="example.recVer != null">
                and T.REC_VER = #{example.recVer}
            </if>
            <if test="example.applId != null">
                and T.APPL_ID = #{example.applId}
            </if>
            <if test="example.id != null">
                and T.ID = #{example.id}
            </if>
        </where>
    </sql>

  <sql id="Base_Column_List" >
    T.ID,
    T.APPL_ID,
    T.TYPE,
    T.RESULT,
    T.CONTENT,
    T.CREATED_BY,
    T.CREATE_TIME,
    T.UPDATED_BY,
    T.UPDATE_TIME,
    T.REC_VER,
    T.TAG_SEQ
  </sql>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ljwd.plms.web.model.outsource.PlmsLaApplOutsrcLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PLMS_LA_APPL_OUTSRC_LOG T
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long" >
    select 
    <include refid="Base_Column_List" />
    from PLMS_LA_APPL_OUTSRC_LOG T
    where T.ID = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="long" >
    delete from PLMS_LA_APPL_OUTSRC_LOG T
    where T.ID = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByExample" parameterType="com.ljwd.plms.web.model.outsource.PlmsLaApplOutsrcLogExample" >
    delete from PLMS_LA_APPL_OUTSRC_LOG T
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insert" parameterType="com.ljwd.plms.web.model.outsource.PlmsLaApplOutsrcLog" >
      <selectKey resultType="long" keyProperty="id" order="BEFORE" >
          SELECT seq_plms_la_appl_outsrc_log.nextval FROM dual
      </selectKey>
    insert into PLMS_LA_APPL_OUTSRC_LOG T (<include refid="Base_Column_List" />)
    values (
      #{id,jdbcType=BIGINT},
      #{applId,jdbcType=BIGINT},
      #{type,jdbcType=VARCHAR},
      #{result,jdbcType=BIGINT},
      #{content,jdbcType=VARCHAR},
      #{createdBy,jdbcType=VARCHAR},
      sysdate,
      #{updatedBy,jdbcType=VARCHAR},
      sysdate,
      0,
      1
    )
  </insert>

  <insert id="insertSelective" parameterType="com.ljwd.plms.web.model.outsource.PlmsLaApplOutsrcLog" >
      <selectKey resultType="long" keyProperty="id" order="BEFORE" >
          SELECT seq_plms_la_appl_outsrc_log.nextval FROM dual
      </selectKey>
    insert into PLMS_LA_APPL_OUTSRC_LOG T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
          T.ID,
      </if>
      <if test="applId != null" >
          T.APPL_ID,
      </if>
      <if test="type != null" >
          T.TYPE,
      </if>
      <if test="result != null" >
          T.RESULT,
      </if>
      <if test="content != null" >
          T.CONTENT,
      </if>
      <if test="createdBy != null" >
          T.CREATED_BY,
      </if>
      <if test="createTime != null" >
          T.CREATE_TIME,
      </if>
      <if test="updatedBy != null" >
          T.UPDATED_BY,
      </if>
      <if test="updateTime != null" >
          T.UPDATE_TIME,
      </if>
      <if test="recVer != null" >
          T.REC_VER,
      </if>
      <if test="tagSeq != null" >
          T.TAG_SEQ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="applId != null" >
        #{applId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recVer != null" >
        #{recVer,jdbcType=BIGINT},
      </if>
      <if test="tagSeq != null" >
        #{tagSeq,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <select id="countByExample" parameterType="com.ljwd.plms.web.model.outsource.PlmsLaApplOutsrcLogExample" resultType="java.lang.Integer" >
    select count(*) from PLMS_LA_APPL_OUTSRC_LOG T
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByExampleSelective" parameterType="map" >
    update PLMS_LA_APPL_OUTSRC_LOG T
    <set >
      <if test="record.id != null" >
          T.ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.applId != null" >
          T.APPL_ID = #{record.applId,jdbcType=BIGINT},
      </if>
      <if test="record.type != null" >
          T.TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.result != null" >
          T.RESULT = #{record.result,jdbcType=BIGINT},
      </if>
      <if test="record.content != null" >
          T.CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.createdBy != null" >
          T.CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
          T.CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedBy != null" >
          T.UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
          T.UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recVer != null" >
          T.REC_VER = #{record.recVer,jdbcType=BIGINT},
      </if>
      <if test="record.tagSeq != null" >
          T.TAG_SEQ = #{record.tagSeq,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByExample" parameterType="map" >
    update PLMS_LA_APPL_OUTSRC_LOG T
    set
      T.ID = #{record.id,jdbcType=BIGINT},
      T.APPL_ID = #{record.applId,jdbcType=BIGINT},
      T.TYPE = #{record.type,jdbcType=VARCHAR},
      T.RESULT = #{record.result,jdbcType=BIGINT},
      T.CONTENT = #{record.content,jdbcType=VARCHAR},
      T.CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      T.CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      T.UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      T.UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      T.REC_VER = #{record.recVer,jdbcType=BIGINT},
      T.TAG_SEQ = #{record.tagSeq,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.ljwd.plms.web.model.outsource.PlmsLaApplOutsrcLog" >
    update PLMS_LA_APPL_OUTSRC_LOG T
    <set >
      <if test="applId != null" >
          T.APPL_ID = #{applId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
          T.TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
          T.RESULT = #{result,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
          T.CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
          T.CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
          T.CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
          T.UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
          T.UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recVer != null" >
          T.REC_VER = #{recVer,jdbcType=BIGINT} + 1,
      </if>
      <if test="tagSeq != null" >
          T.TAG_SEQ = #{tagSeq,jdbcType=BIGINT},
      </if>
    </set>
    where T.ID = #{id,jdbcType=BIGINT} and T.REC_VER = #{recVer,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.ljwd.plms.web.model.outsource.PlmsLaApplOutsrcLog" >
    update PLMS_LA_APPL_OUTSRC_LOG T
    set
      T.APPL_ID = #{applId,jdbcType=BIGINT},
      T.TYPE = #{type,jdbcType=VARCHAR},
      T.RESULT = #{result,jdbcType=BIGINT},
      T.CONTENT = #{content,jdbcType=VARCHAR},
      T.CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      T.CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      T.UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      T.UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      T.REC_VER = #{recVer,jdbcType=BIGINT},
      T.TAG_SEQ = #{tagSeq,jdbcType=BIGINT}
    where T.ID = #{id,jdbcType=BIGINT}
  </update>

    <!--批量添加-->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into PLMS_LA_APPL_OUTSRC_LOG T ( <include refid="Base_Column_List"/> )
        SELECT seq_plms_la_appl_outsrc_log.nextval , TEMP.* from (
        <foreach collection="list" item="item" index="index" separator="union all">
            select
            #{item.applId,jdbcType=BIGINT},
            #{item.type,jdbcType=VARCHAR},
            #{item.result,jdbcType=INTEGER},
            #{item.content,jdbcType=VARCHAR},
            #{item.createdBy,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updatedBy,jdbcType=VARCHAR},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.recVer,jdbcType=BIGINT},
            #{item.tagSeq,jdbcType=BIGINT}
            from dual
        </foreach>
        ) TEMP
    </insert>

    <!--批量修改-->
    <update id="updateBatch" parameterType="java.util.List">
        begin
        <foreach collection="list" item="item" index="index" separator=";" >
            update PLMS_LA_APPL_OUTSRC_LOG T
            <set>
                <if test="item.applId != null">
                    T.APPL_ID = #{item.applId,jdbcType=BIGINT},
                </if>
                <if test="item.type != null">
                    T.TYPE = #{item.type,jdbcType=VARCHAR},
                </if>
                <if test="item.result != null">
                    T.RESULT = #{item.result,jdbcType=INTEGER},
                </if>
                <if test="item.content != null">
                    T.CONTENT = #{item.content,jdbcType=VARCHAR},
                </if>
                <if test="item.createdBy != null">
                    T.CREATED_BY = #{item.createdBy,jdbcType=VARCHAR},
                </if>
                <if test="item.createTime != null">
                    T.CREATE_TIME = #{item.createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.updatedBy != null">
                    T.UPDATED_BY = #{item.updatedBy,jdbcType=VARCHAR},
                </if>
                <if test="item.updateTime != null">
                    T.UPDATE_TIME = #{item.updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.recVer != null">
                    T.REC_VER = #{item.recVer,jdbcType=BIGINT} + 1,
                </if>
                <if test="item.tagSeq != null">
                    T.TAG_SEQ = #{item.tagSeq,jdbcType=BIGINT},
                </if>
            </set>
            where T.ID = #{item.id,jdbcType=BIGINT}
        </foreach>
        ;end;
    </update>

    <!--分页条件查询-->
    <select id="selectByExampleAndPage" resultType="com.ljwd.plms.web.vo.outsource.OutsrcLogPageDto"
            parameterType="com.ljwd.plms.web.vo.outsource.OutsrcLogPageExample">
        select lotLog.TYPE as type,
               lotLog.CONTENT as content,
               lotLog.UPDATE_TIME as updateTime,
               updateUser.USER_NAME as updatedUserName
        from PLMS_LA_APPL_OUTSRC_LOG lotLog
        left join SYS_USER updateUser on lotLog.UPDATED_BY = updateUser.USER_ID
        where 1 = 1
        <if test="recVer != null">
            and lotLog.REC_VER = #{recVer}
        </if>
        <if test="applId != null">
            and lotLog.APPL_ID = #{applId}
        </if>
        <if test="id != null">
            and lotLog.ID = #{id}
        </if>
        <choose>
            <when test="orderByClause != null">
                order by ${orderByClause}
            </when>
            <otherwise>
                order by lotLog.ID desc
            </otherwise>
        </choose>
    </select>

</mapper>